fastapi==0.68.0
uvicorn==0.15.0
sqlalchemy
psycopg2-binary
pydantic==1.8.2
pydantic[email]
python-dotenv==0.19.0
motor==2.5.1
python-jose
passlib[bcrypt]
python-multipart
bcrypt
fastapi
uvicorn
pydantic
pymongo
python-jose
qrcode
Pillow
